.main{ -moz-border-radius:1em;margin:25px 0px 0px 0px; padding:10px;background: white; min-height: 500px; } 
.projects{ margin-left: 120px; padding-top: 20px;} 
.media{ margin-left: 50px; padding-top: 20px;} 
.project-row{ margin: 0px 0px 20px 0px; } 
.project-thumb img{ padding: 0px 0px 0px 0px; } 
.project-thumb h2 { padding: 15px 0px 0px 0px; } 
.project-thumb h2 a{ cursor:pointer; } 
.project-thumb p { font-size: 11px; line-height:15px; } 

.content{ -moz-border-radius:1em;margin:25px 0px 0px 0px; padding:10px;background: white; } 

#site {
    clear: both;
    background: white;
}

/*---- Layout --*/

body {
    /*background:#ffffbb;*/
    background:#d8f1f9;
    /*background:#e9e8e5*/;
    background-image:url("../yertletheturtle.jpg");
    background-attachment:scroll;
    background-position:top right;
    background-repeat:no-repeat;
    font:12px Helvetica,Arial,sans-serif;
    color: #333332;
}

body, img, h1, h2, h3, h4, h5, ul, ol, li, form, blockquote {
    margin: 0px;
    padding: 0px;
}

img {
    text-decoration:none;
    border: 0px solid #000000;
}
h1 {
    font-size: 22px;
    font-weight: bold;
    color: #333332;
    margin:0px 0px 15px 0px;
    padding:0px 0px 4px 0px;
}
h2 {
    font-size: 15px;
    font-weight: bold;
    color: #333332;
    margin:0px 0px 2px 0px;
}
h2 a {
    color:#333332;
    text-decoration: none;
}
h2 a:hover {
    color:#0179a5;
    text-decoration: none;
}
h3 {
    font-size: 12px;
    font-weight: bold;
    color: #333332;
}
h3 a {
    color:#333332;
    text-decoration: none;
}
h3 a:hover {
    color:#0179a5;
    text-decoration: none;
}
p {
    line-height: 19px;
    padding-bottom:15px;    
}
ul, ol {
    list-style: none;
}


a {
    color: #0179a5;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.flyer img {
        width:940px;
}

.thumbnail_korhan img {
	float:left;
	position:absolute;
	top:-140px;
	left:-90px;
}
.thumbnail_korhan{
	display:block;
	float:left;
	width:220px;
	height:146px;
	line-height:100px;
	overflow:hidden;
	position:relative;
 	z-index:1;
}

.thumbnail img {
        float:left;
        position:absolute;
        top:-90px;
        left:-90px;
}
.thumbnail {
    display:block;
    float:left;
    width:220px;
    height:146px;
    line-height:100px;
    overflow:hidden;
    position:relative;
    z-index:1;      
}



.thumbnail_phone img {
        float:left;
        position:absolute;
        width:220px;
        top:-40px;
}
.thumbnail_phone {
    display:block;
    float:left;
    width:220px;
    height:146px;
    line-height:100px;
    overflow:hidden;
    position:relative;
    z-index:1;      
}

.thumbnail_gnoc img {
        float:left;
        position:absolute;
        top:-80px;
        left:-90px;
}
.thumbnail_gnoc {
    display:block;
    float:left;
    width:220px;
    height:146px;
    line-height:100px;
    overflow:hidden;
    position:relative;
    z-index:1;      
}

.thumbnail_long img {
        float:left;
        position:absolute;
        top:-10px;
        left:-50px;
}
.thumbnail_long {
    display:block;
    float:left;
    width:220px;
    height:146px;
    line-height:100px;
    overflow:hidden;
    position:relative;
    z-index:1;      
}

.thumbnail_pat img {
        float:left;
        position:absolute;
        top:-30px;
        left:-90px;
}
.thumbnail_pat {
    display:block;
    float:left;
    width:220px;
    height:146px;
    line-height:100px;
    overflow:hidden;
    position:relative;
    z-index:1;      
}


.thumbnail_jad img {
        float:left;
        position:absolute;
        top:-110px;
        left:-90px;
}
.thumbnail_jad {
    display:block;
    float:left;
    width:220px;
    height:146px;
    line-height:100px;
    overflow:hidden;
    position:relative;
    z-index:1;      
}

.thumbnail_marcus img {
        float:left;
        position:absolute;
        top:-85px;
        left:-90px;
}
.thumbnail_marcus {
    display:block;
    float:left;
    width:220px;
    height:146px;
    line-height:100px;
    overflow:hidden;
    position:relative;
    z-index:1;      
}

.thumbnail_mem img {
    width:220px;
    /*height:146px;*/
}

.thumbnail_mem {
    display:block;
    float:left;
    width:220px;
    height:146px;
    line-height:100px;
    overflow:hidden;
    position:relative;
    z-index:1;      
}

.thumbnail_des img {
    width:320px;
    float:left;
    position:absolute;
    top:05px;
    left:0px;
    /*height:146px;*/
}

.thumbnail_des {
    display:block;
    float:left;
    width:220px;
    height:146px;
    line-height:100px;
    overflow:hidden;
    position:relative;
    z-index:1;      
}

thumbnail_fly img {
    width:320px;
    float:left;
    position:absolute;
    top:05px;
    left:0px;
    /*height:146px;*/
}

.thumbnail_fly {
    display:block;
    float:left;
    width:220px;
    height:146px;
    line-height:100px;
    overflow:hidden;
    position:relative;
    z-index:1;      
}

thumbnail_med img {
    width:220px;
    /*height:146px;*/
}

.thumbnail_med {
    display:block;
    float:left;
    width:220px;
    height:146px;
    line-height:100px;
    overflow:hidden;
    position:relative;
    z-index:1;      
}


.heading {
    left: 170px;

}

/*Main Navigation */
#navbar {
    height: 45px;
    border-top: dotted 1px #939391;
    border-bottom: dotted 1px #939391;
    margin: 30px 0px 0px 0px;
    background: white;
    padding-left: 10px;

}
#logo{
    padding: 7px 0px 0px 0px; 
}

.header {
    width:200px;

}

#titles{
    overflow:visible;
    font-size: 30px;
    font-weight:bold;
    line-height: 12px;
    margin-top:20px;
    top:-10px;
    text-transform: uppercase;
}
#mainmenu{
    padding: 15px 0px 0px 0px;
    float: right;
}
#mainmenu ul{
    float: left;
    color: #333332;
    padding:0px;
}
#mainmenu ul li{
    display: inline;
    padding:0px 26px 0px 0px;   
}
#mainmenu ul li a{
    color:#333332;
    font: 17px Helvetica,Arial,sans-serif;
    font-weight: bold;
}
#mainmenu ul li a:visited {
    color: #333332;
}
#mainmenu ul li a:hover {
    color: #0179a5;
    text-decoration:none;
}

/* FOOTER */
#footer {
    height: 15px;
    border-top: dotted 1px #939391;
    border-bottom: dotted 1px #939391;
    margin: 10px 0px 10px 0px;
    background: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    clear:both;
}

.info {
    float: right;
}


.about ul {
    list-style-type: circle;
    margin: 15px 25px 15px 15px;

}

.about li {
    margin: 0px 0px 5px 0px;
}

.member img { float: left;}
.member_info li { margin-bottom: 15px;}

.overview {
    list-style-type: circle;
    margin: 15px 25px 15px 15px;
}

.overview li { margin-bottom: 2px;}

.member_foot h1 {float: left; margin-left: 100px;}

.design_list {
    font-size: 8pt;
}

.designs img {
    max-width: 200px;

}
